<!--  footer -->
<footer class=" fondo d-flex flex-column">
  <div class="box-f d-flex">
<img   class="logos-f" src="assets/images/logo3.png"  width="80px"  alt="logo">
 </div>

    <div class="line"></div>
    <div class="social-media d-flex flex-wrap justify-content-end">
      <a  href="https://twitter.com/?lang=es"  target="_blank" rel="noopener noreferrer">
        <i class=" icon bi bi-twitter"></i>
      </a>

      <a  href="https://github.com/"  target="_blank" rel="noopener noreferrer">
        <i class="bi bi-github"></i>
      </a>

      <a  href="https://www.linkedin.com/home"  target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i>
      </a>

      <a  href="https://www.instagram.com/"  target="_blank" rel="noopener noreferrer">
        <i class="bi bi-instagram"></i>
      </a>

      <a  href="mailto:jbastidas.8911@gmail.com"  target="_blank" rel="noopener noreferrer">
        <i class="bi bi-envelope"></i>
      </a>
    </div>
      <p class="footer-texto  justify-content-center text-center"> Creado por JABM / Todos los Derechos Reservados (2022) &#169;</p>
</footer>
