 <!--  Contact -->
 <form  id="contacto" action="#">
  <div class="form">
    <div class="topi">
      <img  src="assets/images/logo3.png" width="70px" alt="logo code-ready">
    </div>
     <div class="grup">
      <label for="Nombre">Nombre</label>
      <input type="text"  required>
     </div>
     <div class="grup">
      <label for="Email">Email</label>
      <input type="email"  required>
     </div>
     <div class="grup">
      <label for="Teléfono">Teléfono</label>
      <input type="number"  required>
     </div>
     <div class="grup">
      <label for="Comentarios">Comentarios</label>
      <textarea name="Comentarios" id="" cols="0" rows="0" placeholder="Agrega tus Comentarios"></textarea>
     </div>
     <div class="grup">
      <button type="submit">Enviar</button>
     </div>
  </div>
</form>

