<section class="edu">
  <h2 class="skill">Cursos</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4 ">
    <div class="col red">
      <div class="card h-100">
        <img src="assets/images/curso01.jpg" class="card-img-top" alt="curso1">
      
        <div class="card-body">
          <h5 class="card-title">#SéProgramar</h5>
          <p class="card-text">Fundamentos de la programación utilizando Gobstones, Programación Imperativa y Programación con Objetos.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Programa Junio 2022</small>
        </div>
      </div>
    </div>
    <div class="col red">
      <div class="card h-100">
        <img src="assets/images/curso2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> UTN.BA-Centro de e-Learning</h5>
          <p class="card-text">Introducción a HTML,HTM5,Características básicas, Texto, Enlaces, Listas, Imágenes ,Tablas
             CSS3, Selectores, Unidades de medida, Colores, Modelo de cajas. Framework Bootstrap.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Programa Septiembre 2021</small>
        </div>
      </div>
    </div>
    <div class="col red">
      <div class="card h-100">
        <img src="assets/images/curso3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">UTN.BA-Centro de e-Learning</h5>
          <p class="card-text">Javascript, Variables, Ámbito de las variables, Literales, Comentarios, Mayúsculas y minúsculas, Separación de instrucciones, 
           Operadores, Métodos, bucle, For, while, do while y Document Object Model o DOM</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Programa Junio 2021</small>
        </div>
      </div>
    </div>
  </div>
  
  
  
</section>
