  <!-- about me  -->
  
      <div class="row">
        <div class="foto col-xs-2 col-sm-4  col-lg-3">
          <img src="assets/images/fotoPerfil.png" alt="foto de perfil" 
           class="img-fluid" id="fotoperfil">
           <div class="perfil col-xs-12 col-sm-12 col-md-3 col-lg-12">
            <h6>Full Stack Developer Jr.</h6>
          </div>
        </div>
        
        <div class="roca col-xs-8 col-sm-8 col-md-7 col-lg-7">
          <span>
            
            <h1 class="red">Acerca de mí</h1>
            <p class="text">
              Hola! Mi nombre es Abraham Bastidas. Soy una persona energértica y entusiasta, con habilidades en relaciones interpersonales y trabajo en equipo. Disfruto del desarrollo web y la creación de productos digitales.

              Actualmente estoy enfocado en el desarrollo con programación orientada a objetos (POO), utilizando Java como lenguaje principal y el IDE Netbeans. Además, tengo conocimientos en control de versiones de código, HTML, JavaScript, CSS, SQL, Oracle y administración de servidores SQL.
            </p>
          </span>
        </div>

      </div>
    
    
    











