    <!--Projects -->
    <section  id="proyectos" class="proyectos-recientes  d-flex flex-column">
      <h2 class="seccion-titulo texto-negro">Mis Proyectos</h2>
      <h3 class="seccion-descripcion"> Proyectos que he creado Recientemente...</h3>
       <!-- Galeria de proyectos  -->
       <div class="container text-center proyectos-contenedor">
          <div class="row">
             <!--Proyecto 1 -->
          <div class="col-12 col-md-4 col-lg-4">
            <div class="proyecto">
              <img src="assets/images/comida.jpg" alt="Proyecto 1">
              <div class="overlay">
                <p>Proyecto 1 </p>
                <div class="iconos-contenedor"> 
                  <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                  </a>
                  <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-laptop"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
           <!--Proyecto 2 -->
           <div class="col-12 col-md-4 col-lg-4">
            <div class="proyecto">
              <img src="assets/images/comida.jpg" alt="Proyecto ">
              <div class="overlay">
                <p>Proyecto 2 </p>
                <div class="iconos-contenedor"> 
                  <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                  </a>
                  <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-laptop"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
             <!--Proyecto 3 -->
             <div class="col-12 col-md-4 col-lg-4">
              <div class="proyecto">
                <img src="assets/images/comida.jpg" alt="Proyecto 1">
                <div class="overlay">
                  <p>Proyecto 3 </p>
                  <div class="iconos-contenedor"> 
                    <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-github"></i>
                    </a>
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-laptop"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
       </div>
       
    </section>
    
