<div class="row">
  <h1>Experiencia Laboral</h1>
  <div col-lg-11>
      <ul class="fond">
        <li>
         <h4>Administrativo-Ejecutivo de Liquidación</h4>
         <h6>Marzo 2012 - Diciembre 2016</h6>
        </li>
        <p>
        Atención al Contribuyente, Liquidación de Impuestos Municipales, Gestión de la Recaudación de los Tributos
        y Seguimiento del calendario impositivo. 
        </p>
      </ul>
      <ul class="fond">
        <li>
         <h4>Auxiliar Administrativo.</h4>
         <h6>Marzo 2019 - Julio 2021</h6>
        </li>
        <p>
        Atención al Contribuyente, Liquidación de Impuestos Municipales, Gestión de la Recaudación de los Tributos
        y Seguimiento del calendario impositivo. 
        </p>
      </ul>
  </div>

</div>










  

