
  <!-- Barra de navegacion -->
  <nav class="navbar navbar-expand-md navbar-ligt">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" collapse navbar-collapse" id="navbar-toggler">
        <a class="navbar-brand " routerLink="/home">
          <img src="assets/images/logo5.png"  width="90"  alt="logo de Argentina Programa">
        </a>
        
        <div class=" social-media d-flex flex-wrap ">
          <a  href="https://twitter.com/?lang=es"  target="_blank" rel="noopener noreferrer">
            <i class=" icon bi bi-twitter"></i>
          </a>
    
          <a  href="https://github.com/"  target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
          </a>
    
          <a  href="https://www.linkedin.com/home"  target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin"></i>
          </a>
    
          <a  href="https://www.instagram.com/"  target="_blank" rel="noopener noreferrer">
            <i class="bi bi-instagram"></i>
          </a>
    
          <a  href="mailto:jbastidas.8911@gmail.com"  target="_blank" rel="noopener noreferrer">
            <i class="bi bi-envelope"></i>
          </a>
          
        </div>
  <!-- Button modal -->
      <div class="text-center ret">
        <a routerLink="/login">
          <i class="bi bi-person-fill-lock fs-4 btn"></i>
      </a>
       </div>
    </div>
     </div>
  </nav>

 

<!-- Login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Inicio de Sesión</h1>
        
      </div>
      <div class="modal-body">

        <!-- Formulario -->
        <form  id="login" action="#">
          <div class="form">
            <div class="topi">
              <img  src="assets/images/logo3.png" width="70px" alt="logo code-ready">
            </div>
             <div class="grup">
              <label for="Nombre">Nombre</label>
              <input type="text"  required>
             </div>
             <div class="grup">
              <label for="Email">Email</label>
              <input type="email"  required>
             </div>
             <div class="grup">
              <label for="Teléfono">Teléfono</label>
              <input type="number"  required>
             </div>
             <div class="grup">
              <label for="Comentarios">Comentarios</label>
              <textarea name="Comentarios" id="" cols="0" rows="0" placeholder="Agrega tus Comentarios"></textarea>
             </div>
             <div class="grup">
              <button type="submit">Enviar</button>
             </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>

      </div>
    </div>
  </div>
</div>
